.venv/
**/__pycache__/
**/.pytest_cache/
**/**/__pycache__/
**/**/myreport/
**/**/.coverage
**/**/xmlreport
**/**/.pytest_cache/
.DS_Store
*.pyc
*.pyo
**/*.txt
**/*.pdf
workshop_2/selenium-basics/google-chrome-stable_current_amd64.deb
*.deb
